* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

/* Styling for hero section starts */

.cover-img-weather {
  width: 100%;
  height: 30vh;
  position: relative;
}

.cover-img-container {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.my-cover-img {
  width: 100%;
  height: 100%;
}

.weather-container {
  position: absolute;
  top: 20px;
  left: 5%;
}

.profile-img-container {
  width: 30%;
  position: absolute;
  left: 65%;
  bottom: -25%;
}

.my-profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #34495e;
}

/* Styling for hero section ends */ 

/* Styling for info sections starts */

.info-container {
  margin-top: 14%;
  padding: 0 1rem;
}

.level-container {
  display: flex;
  align-items: center;
  gap: 3%;
}

.my-progress-container {
  width: 80%;
  height: 10px;
  border-radius: 0;
}

.my-progress {
  width: 82%;
  background-color: #5c33f6;
}

.progress-label {
  width: 15%;
  text-align: center;
  height: 10px;
}

.badges {
  margin-top: 1rem;
}

.badges-container {
  display: flex;
  align-items: center;
  gap: 2%;
}

.badge {
  width: 23%;
}

.my-badge {
  width: 100%;
}

/* Styling for info sections ends */

/* Scrooler added for scrooling to next section */
.scroller {
  margin-top: 15%;
  font-size: 30px;
  text-align: center;
}

.scroller i {
  color: #5c33f6;
}

/* Styling for eduaction section starts */

.education {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.edu-ins-name {
  font-size: 20px;
  color: #5c33f6;
}

.edu-item {
  margin: 0.75rem 0;
  display: flex;
  flex-direction: column;
  background-color: #e4e4e4;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

.edu-item:hover {
  transform: scale(1.05);
}

.edu-item p {
  margin: 0;
}

/* Styling for eduaction section ends */

/* Styling for skills section starts */

.skills {
  width: 100%;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5c33f6;
  color: white;
  padding: 1rem;
  margin: 0.7rem 0;
  gap: 15px;
  border-radius: 0.8rem;
  transition: 0.3s ease;
}

.skill:hover {
  transform: scale(1.08);
}

.skill-img-container {
  width: 50%;
}

.skill-img {
  width: 100%;
}

/* Styling for skills section ends */

/* Styling for hobbies section starts */

.hobbies {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hobbies-title {
  text-align: center;
  margin-bottom: 1rem;
}

.hobby {
  width: 80%;
  height: 420px;
  margin: 0.5rem auto;
  border: 1px solid gray;
  position: relative;
}

.hobby-name {
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: auto;
  right: auto;
  width: 90%;
}

.owl-dots {
  text-align: center;
}

.owl-dot {
  width: 15px;
  height: 15px;
  border: 2px solid #5c33f6 !important;
  border-radius: 50%;
  margin: 0 0.5rem;
  transition: 0.3s ease;
}

.owl-dot.active {
  width: 30px;
  border-radius: 0.7rem;
  background-color: #5c33f6 !important;
}

/* Styling for hobbies section ends */

/* Styling for footer starts */

.my-footer {
  background-color: #5c33f6;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
}

.contact-opt-title,
.connect-opt-title {
  margin-bottom: 1rem;
}

.contact-type>span {
  padding: 0.3rem;
}

#email {
  background-color: #a63a2f;
}

#tgram {
  background-color: #30a5d7;
}

#discord {
  background-color: #4e62ee;
}

.type-info {
  background-color: #e4e4e4;
  color: black;
}

.connect-opt {
  font-size: 30px;
  text-decoration: none;
  color: white;
  margin: 0.3rem;
}

.scroll-to-top {
  position: fixed;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.3rem 0.7rem;
  border-radius: 0.3rem;
  bottom: 10%;
  left: 2%;
  visibility: hidden;
  z-index: 5;
}

/* Scroller added for scrolling to top of the page */
.scroll-to-top:hover {
  color: white;
}

/* Styling for footer ends */

/* Media Queries starts */

/* Styling for 576px starts */

@media screen and (min-width: 576px) {

  .profile-img-container {
    bottom: -40%;
  }

  .skills {
    margin-top: 1.5rem;
  }

  .hobbies {
    margin-top: 1.5rem;
  }

  .hobby {
    width: 50%;
  }

  .my-footer {
    margin-top: 2rem;
  }

}

/* Styling for 576px ends */

/* Styling for 768px starts */

@media screen and (min-width: 768px) {
  
  .cover-img-container{
    height: 50vh;
  }

  .profile-img-container {
    bottom: -50%;
  }

  .my-profile-img {
    border-color: white;
  }

  .info-container {
    margin-top: 18%;
  }

  .edu-item {
    width: 90%;
  }

  .skills-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .skill {
    width: 45%;
    height: 300px;
    margin: 1rem auto;
    justify-content: center;
  }

  .hobby {
    width: 75%;
  }

  .my-footer {
    margin-top: 5rem;
  }

}

/* Styling for 768px ends */

/* styling for 992px starts */

@media screen and (min-width: 992px) {
  
  .profile-img-container {
    width: 25%;
  }

  .info-container {
    margin-top: 15%;
  }

  .badge {
    width: 10%;
  }

  .hobbies {
    margin-top: 4rem;
  }

  .my-footer {
    display: flex;
    justify-content: space-evenly;
  }

}

/* styling for 992px ends */

/* styling for 1200px starts */

.profile-img-container {
  width: 17%;
  left: 75%;
  bottom: -45%;
}

.skill {
  width: 30%;
}

/* styling for 1200px ends */
 
/* Styling for extra large devices starts */

@media screen and (min-width: 1254px) {
  
.info-container {
  margin-top: 12%;
}

.skills {
  height: 100%;
}

.skill {
  width: 26%;
  height: 250px;
}

.my-footer {
  padding: 3rem;
  justify-content: space-between;
}

}

/*  Styling for extra large devices ends */

/* Media Queries ends */